{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "plugins": [
    "@prettier/plugin-php",
    "prettier-plugin-organize-attributes"
  ],
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "semi": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "bracketSameLine": false,
        "arrowParens": "avoid",
        "endOfLine": "lf"
      }
    }
  ]
}
