{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.less",
      "options": {
        "parser": "less",
        "singleQuote": false,
        "semi": true,
        "printWidth": 80
      }
    },
    {
      "files": "*.php",
      "options": {
        "parser": "html",
        "tabWidth": 4,
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "css"
      }
    }
  ]
}
