// out: false
@import '../../_variables.less';

.faq {
  &__container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    .media(mobile, {
      flex-direction: column;
      gap: 20px;
    });
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
  }

  &__subtitle {
    color: @color-text;
    font-family: @font-body;
    font-size: @font-size-sub;
    letter-spacing: 0.175em;
    text-transform: uppercase;
  }

  &__title {
    color: @color-heading;
    font-family: @font-title;
    font-size: @font-size-title;
    font-weight: 600;
    line-height: 110%;
    max-width: 361px;
  }

  &__accordion {
    flex: 0 0 70%;

    .media(mobile, {
      flex-basis: 100%;
    });
  }

  &__item {
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;

    &.active .faq__answer {
      display: block;
    }
  }

  &__question {
    cursor: pointer;
    font-weight: 600;
    font-size: @font-size-text;
  }

  &__answer {
    display: none;
    margin-top: 10px;
    font-size: @font-size-text;
    font-weight: 400;
    margin-left: 30px;
  }

  &__image {
    flex: 0 0 30%;
    max-width: 100%;
    img {
      max-width: 100%;
    }

    .media(mobile, {
      display: none;
    });
  }
}
