.faq__container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.faq__accordion {
    flex: 0 0 70%;
}

.faq__image {
    flex: 0 0 30%;
}

.faq__question {
    cursor: pointer;
}

.faq__answer {
    display: none;
    margin-top: 10px;
}

.faq__item.active .faq__answer {
    display: block;
}

