.main-nav .item-101.default.current {
  display: none;
}
.site-header {
  max-width: 1170px;
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 767px) {
  .site-header {
    margin: 0 20px;
    padding: 20px 0 10px 0;
  }
}
.site-header .header__inner {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner {
    margin: 0;
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .logo {
    width: 45%;
  }
}
.site-header .header__inner .logo img {
  display: block;
  height: 48px;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .logo img {
    height: 36px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.site-header .header__inner .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .header-right {
    gap: 16px;
    width: 65%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .header-right .main-nav {
    display: none;
  }
}
.site-header .header__inner .header-right .main-nav .mod-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-header .header__inner .header-right .main-nav .mod-menu a {
  font-family: 'Golos Text', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.site-header .header__inner .header-right .main-nav .mod-menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1.5px;
  background-color: #8d222c;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.site-header .header__inner .header-right .main-nav .mod-menu a:hover {
  color: #000;
}
.site-header .header__inner .header-right .main-nav .mod-menu a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.site-header .header__inner .header-right .main-nav .mod-menu .item-active > a {
  color: #8d222c;
  font-weight: 600;
}
.site-header .header__inner .header-right .burger {
  display: none;
  width: 24px;
  height: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  z-index: 20;
}
.site-header .header__inner .header-right .burger span {
  display: block;
  height: 2px;
  background-color: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .header-right .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.site-header .header__inner .header-right .burger.active span:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}
.site-header .header__inner .header-right .burger.active span:nth-child(2) {
  opacity: 0;
}
.site-header .header__inner .header-right .burger.active span:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
.site-header .header__inner .header-right .header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.site-header .header__inner .header-right .header-controls__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.site-header .header__inner .header-right .header-controls__inner .divider {
  width: 1px;
  height: 25px;
  background-color: #000;
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .header-right .header-controls__inner .divider {
    display: none;
  }
}
.site-header .header__inner .header-right .header-controls__inner .btn--primary {
  padding: 10px 20px;
  background-color: #8d222c;
  color: #ffffff;
  font-family: 'Golos Text', sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-header .header__inner .header-right .header-controls__inner .btn--primary:hover {
  background-color: transparent;
  color: #8d222c;
  border-color: #8d222c;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .header-right .header-controls__inner .btn--primary {
    padding: 8px 12px;
    font-size: 12px;
    height: 36px;
  }
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 767px) {
  .site-header .header__inner .header-right .header-controls__inner .header-controls__icons {
    display: none;
  }
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #000;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link svg {
  width: 40px;
  height: 40px;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link--invertable {
  padding: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link--invertable svg {
  width: 40px;
  height: 40px;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link--invertable svg .bg {
  fill: #fdfbf5;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link--invertable svg .icon {
  fill: #000;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link--invertable:hover svg .bg {
  fill: #000;
}
.site-header .header__inner .header-right .header-controls__inner .header-controls__icons .icon-link--invertable:hover svg .icon {
  fill: #fdfbf5;
}
body.menu-open {
  overflow: hidden;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #fdfbf5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 15;
}
.mobile-nav .mod-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/* Сброс отступов и box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* Базовый стиль для страницы */
body {
  font-family: 'Golos Text', sans-serif;
  font-size: 16px;
  background-color: #fdfbf5;
  color: #333333;
  line-height: 1.5;
}
a {
  color: #8d222c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.page-wrapper {
  background-color: #fdfbf5;
}
.magazine-frame {
  max-width: 1300px;
  width: 100%;
  margin: 50px auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 767px) {
  .magazine-frame {
    margin: 0 auto;
    border: none;
  }
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
