@import '../../variables.less';
@import '../../buttons.less';

.faq {
  padding: @section-padding 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    gap: 120px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      background: @section-divider-color;
      transform: translateX(-50%);
    }

    .media(mobile, {
      flex-direction: column;
      gap: 40px;
      padding: 0 @mobile-side-padding;
      &::before {
        display: none;
      }
    });
  }

  &__swiper {
    flex: 1 1 0;
    width: 100%;
    max-height: 233px;
    padding: 0 60px !important;

    .media(mobile, {
        flex: 0 0 auto;
        order:2;
        width: 100%;
        padding: 0 0 40px 0;
        height: auto;
        max-height:none;
      });

    .swiper-wrapper {
      height: 100%;

      .media(mobile, {
          height: auto;
        });
    }

    .swiper-slide {
      height: 100%;

      .media(mobile, {
          height: auto;
        });
    }
  }

  &__pagination {
    left: 0px !important;

    .swiper-pagination-bullet {
      background: @color-heading;
      opacity: 0.3;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }
  }

  &__slide {
    ul {
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 20px;
    }
  }

  &__item {
    list-style: none;
    font-family: @font-body;
    font-size: (@font-size-base * 1.375); // 22px
    line-height: 140%;
    color: @color-text;
    font-style: italic;
    grid-row: span 1;

    .media(mobile, {
      font-size: (@font-size-base * 1.125); // 18px
    });
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1 1 0;

    .media(mobile, {
      order:1;
      width: 100%;
      max-width: 100%;
    });
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__subtitle {
    color: @color-text;
    font-family: @font-body;
    font-size: @font-size-sub;
    letter-spacing: 0.175em;
    text-transform: uppercase;
  }

  &__title {
    color: @color-heading;
    font-family: @font-title;
    font-size: @font-size-title;
    font-weight: 600;
    line-height: 140%;
    max-width: 400px;
  }
}
