// out: false
@import '../../variables.less';
@import '../../buttons.less';

.hero {
  display: flex;
  align-items: center;
  min-height: 710px;
  background: url('/templates/capitalcraft/images/home/waves.webp');

  .media(mobile, {
    padding: 80px @mobile-side-padding;
    min-height: 500px;
    background: none;
  });

  &__inner {
    max-width: @container-width;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  &__content {
    width: 566px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .media(mobile, {
      width: 100%;
      gap: 30px;
    });
  }

  &__title {
    color: @color-heading;
    font-family: @font-title;
    font-size: 55px;
    font-weight: 700;
    line-height: 100%;

    .media(mobile, {
      font-size: 30px;
      line-height: 110%;
    });
  }

  &__text {
    color: @color-text;
    text-align: justify;
    font-family: @font-body;
    font-size: @font-size-text;
    line-height: 140%;

    .media(mobile, {
      font-size: @font-size-text;
      line-height: 150%;
      text-align: left;
    });
  }
}
