@import '../../variables.less';

.partners {
  padding: @section-padding 0;
  position: relative;
  width: 100%;
  max-width: @container-width;
  margin: 0 auto;

  .media(mobile, {
    padding: 40px 0;
  });

  &__divider {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
    background-color: @section-divider-color;

    .media(mobile, {
      left: @mobile-side-padding;
      right: @mobile-side-padding;
     });

    &--top {
      top: 0;
    }
    &--bottom {
      bottom: 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .media(mobile, {
      flex-direction: column;
      padding: 0 @mobile-side-padding;
    });
  }

  &__title {
    max-width: 260px;
    padding-right: 40px;
    border-right: 1px solid @section-divider-color;

    .media(mobile, {
      padding: 0;
      border: none;
      margin-bottom: 40px;
      max-width: unset;
      text-align: center;
    });

    &-text {
      color: @color-heading;
      font-family: @font-body;
      font-size: @font-size-text;
      line-height: 160%;

      .media(mobile, {
        font-size: @font-size-sub;
        line-height: 140%;
      });
    }
  }

  &__carousel-wrapper {
    position: relative;
    width: 100%;
    max-width: 900px;
    flex: 1;

    .media(mobile, {
      max-width: 100%;
    });
  }

  .embla {
    overflow: hidden;
    width: 100%;

    &__viewport {
      overflow: hidden;
      width: 100%;
    }

    &__container {
      display: flex;
      user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -webkit-tap-highlight-color: transparent;
    }

    &__slide {
      flex: 0 0 33.3333%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .media(mobile, {
      flex: 0 0 100%;
      });

      .partner-logo {
        max-height: 45px;
        object-fit: contain;

        .media(mobile, {
          max-width: 220px;
        });
      }
    }
  }

  .partner-logo {
    filter: grayscale(100%) brightness(0);
    transition: filter 0.3s ease;

    &:hover,
    &:active,
    &.no-filter {
      filter: none;
    }
  }
}
