// out: false

.breadcrumbs {
  padding: 15px 0;

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    color: @color-text;
    font-size: @font-size-sub;

    a {
      color: @color-text;
    }

    & + &::before {
      content: '/';
      margin: 0 5px;
    }
  }
}
