// out: false
@import '_variables.less';

// Миксин для кнопки в хедере
.btn-header() {
  .btn-base();
  border-radius: 6px;
  font-size: @font-size-text*0.8;

  .media(mobile, {
    padding: 8px 12px;
    font-size: @font-size-text * 0.75;
    height: 36px; //для выравнивания всех элементов header
  });
}

.site-header {
  max-width: @container-width;
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #000;

  .media(mobile, {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 49;
    margin: 0 @mobile-side-padding;
    padding: 20px 0 10px 0;
    background: @color-bg-craft;
  });

  .header__inner {
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .media(mobile, {
       margin: 0;
       height: 60px;
       align-items: center;
       });

    .header-logo {
      .media(mobile, {
         width: 45%;
        });
      img {
        display: block;
        height: 48px;

        .media(mobile, {
         height: 36px;
         object-fit: contain;
        });
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      gap: 30px;

      .media(mobile, {
       gap: 16px;
       width: 65%;
       justify-content: space-between;
       });

      .main-nav {
        .media(mobile, {display: none;});

        .mod-menu {
          display: flex;
          gap: 15px;
          list-style: none;
          padding: 0;
          margin: 0;

          li.current > a,
          li.active > a {
            position: relative; // для позиционирования псевдоэлемента

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              height: 1.3px; // максимальная высота
              background: @color-accent;
              transform: scaleX(
                1
              ); // используйте transform, если нужна анимация
              transform-origin: left;

              /* Обрезаем форму: слева 1.5px, справа ~0.5px (≈33% от высоты) */
              clip-path: polygon(0 0, 100% 0.65px, 100% 0.85px, 0 100%);
            }
          }

          a {
            font-family: 'Golos Text', sans-serif;
            font-size: @font-size-text * 0.8;
            text-transform: uppercase;
            font-weight: 400;
            color: @color-text;
            text-decoration: none;
            position: relative;
            transition: color 0.3s ease;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -5px;
              width: 100%;
              height: 1.3px;
              background-color: @color-accent;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.3s ease;
              clip-path: polygon(0 0, 100% 0.65px, 100% 0.85px, 0 100%);
            }

            &:hover {
              color: #000;

              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }

      .burger {
        display: none;
        width: 24px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 20;

        span {
          display: block;
          height: 2px;
          background-color: #000;
          transition: 0.3s ease;
        }

        .media(mobile, {
            display: flex;
          });
      }

      .burger.active {
        span:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
      .header-controls {
        display: flex;
        align-items: center;
        gap: 20px;

        &__inner {
          display: flex;
          align-items: center;
          gap: 30px;

          .divider {
            .media(mobile, {display: none;});

            width: 1px;
            height: 25px;
            background-color: #000;
            opacity: 1;
          }

          .btn--primary {
            .btn-header();
          }
          .header-controls__icons {
            .media(mobile, {display: none;});

            display: flex;
            align-items: center;
            gap: 10px;

            .icon-link {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 40px;
              transition: color 0.3s ease;
              color: #000;

              svg {
                width: 40px;
                height: 40px;
                transition: fill 0.3s ease;
              }
              &--invertable {
                padding: 3px;
                .invertable-icon();
              }
            }
          }
        }
      }
    }
  }
}

body.menu-open {
  overflow: hidden;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: @mobile-side-padding;
  background: @color-bg-craft;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 15;

  .mod-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.mobile-nav.open {
  transform: translateX(0);
}
