// out: ../css/home.css
@import '_variables.less';
@import '_header.less';
@import '_breadcrumbs.less';
@import '_modal.less';
@import '_buttons.less';
@import 'pages/home/_hero.less';
@import 'pages/home/_partners.less';
@import 'pages/home/_faq.less';
@import 'pages/home/_show_case.less';
@import '_footer.less';
@import '_scroll-top.less';

/* Сброс отступов и box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Базовый стиль для страницы */
body {
  font-family: @font-body;
  font-size: @font-size-text;
  background-color: @color-bg-craft;
  color: @color-text;
  line-height: 1.5;
}

a {
  color: @color-accent;
  text-decoration: none;
}

.page-wrapper {
  background-color: @color-bg-craft;
  .media(mobile, {
    padding-top: 60px;
  });
}

.magazine-frame {
  max-width: 1300px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid @color-text;

  .media(mobile, {
    margin: 0 auto;
    border: none;});
}

.container {
  max-width: @container-width;
  width: 100%;
  margin: 0 auto;
}
