// out: false
@import 'variables.less';

.scroll-top {
  position: fixed;
  right: calc((100vw - 1300px) / 2);
  bottom: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid @color-heading;
  background: fade(@color-bg-craft, 70%);
  backdrop-filter: blur(5px);
  color: @color-heading;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 49;

  svg {
    width: 16px;
    height: 16px;
    transform: rotate(-90deg);
    path {
      fill: currentColor;
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    animation: pulse 2s infinite;
  }

  .media(tablet, {
    right: @mobile-side-padding;
    bottom: 20px;
  });

  .media(mobile, {
    right: @mobile-side-padding;
    bottom: 20px;
  });
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 fade(@color-heading, 30%);
  }
  70% {
    box-shadow: 0 0 0 10px fade(@color-heading, 0%);
  }
  100% {
    box-shadow: 0 0 0 0 fade(@color-heading, 0%);
  }
}
